.chat {
  position: relative;
  text-align: left;

  .chat-trigger {
    position: absolute;
    left: -51px;
    top: 40px;
    display: inline-block;
    background-color: $green;
    border: 1px solid $darkest-grey;
    border-bottom-left-radius: 60px;
    border-top-left-radius: 60px;
    border-right: none;
    width: 50px;
    height: 60px;
    cursor: pointer;
    @include scale-anim();

    .icon {
      width: 30px;
      height: 30px;
      margin: 16px 0 0 11px;
    }

    .notifications {
      background: $purple;
      padding: 2px;
      border-radius: 30px;
      min-width: 22px;
      display: block;
      text-align: center;
      position: absolute;
      font-size: 12px;
      top: -8px;
      left: 7px;
    }
  }

  .sidenav {
    background-color: rgba(0,0,0,.8);
    border-left: 1px solid $darkest-grey;
    right: 30%;
    width: 30%;
    transform: translateX(200%);

    &.opened { animation: slide-in-right + $settings; }
    &.closed { animation: slide-out-right + $settings; }

    @keyframes slide-in-right {
      0% { transform: translateX(200%) }
      100% { transform: translateX(100%) }
    }

    @keyframes slide-out-right {
      0% { transform: translateX(100%) }
      100% { transform: translateX(200%) }
    }

    @include mobile() {
      right: 100%;
      width: 100%;

      &.opened {
        right: 90%;
      }
    }
	}

  .nav-scroll {
    position: relative;
    height: calc(100vh - 120px);
  }

  .nav-items {
    padding: 20px;

    .message {
      color: $white;
      @include clearfix();

      &.me {
        .message-payload {
          background-color: $orange;
        }
      }

      .icon {
        float: left;
        width: 30px;
        height: 30px;
        fill: $white;
        border-radius: 25px;
      }

      .message-wrapper {
        float: right;
        width: calc(100% - 40px);
      }
    }

    .message-meta {
      font-size: 12px;
    }

    .message-payload {
      background-color: $green;
      border-radius: 5px;
      border-top-left-radius: 0;
      padding: 4px 10px;
      color: $black;
      margin-bottom: 15px;
    }
  }

  .type-message-wrapper {
    padding: 10px 20px;

    .message {
      line-height: 28px;
      border-bottom: 2px solid $yellow;
      color: $white;
      font-size: 16px;
      width: 100%;
    }
  }
}
