$white: #ffffff;
$black: #000000;

$blue: #08C4C8;
$green: #01FDBE;
$red: #FF51A6;
$orange: #ffa465;
$purple: #FF51A6;
$yellow: #FFC745;

$bg-grey: #f2f2f2;
$very-light-grey:	#eeeeee;
$lighter-grey: #e5e5e5;
$medium-grey: #cccccc;
$light-grey: #bbbbbb;
$lightish-grey: #aaaaaa;
$grey: #888888;
$dark-grey: #777777;
$darkest-grey: #333333;
